<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="yt-menu.css" type="text/css"/>
    <title>NSST</title>
  </head>
  <body>
    @in[vinfo vinfo-list]{
    <div class="yt-box">
      <img src="@video-info-thumbnail-url[vinfo]">
      <p>
	<span class="title">
	  @video-info-title[vinfo]
	</span>	
	<br/>
	<span class="author">
	  @video-info-author[vinfo]
	</span>
	<br/>
	<span class="duration">
	  @video-info-duration[vinfo]
	</span>
      </p>
    </div>
    }
  </body>
</html>
